@model ferre2.Models.productos

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="main-container">

        <!-- CARD -->
        <div class="table-card">

            <!-- HEADER ESTILO FERRETERÍA -->
            <div class="section-header">
                <div class="header-title">
                    <h2>Editar Producto</h2>
                </div>
                @Html.ActionLink("← Volver", "Index", null, new { @class = "btn btn-outline-ferreteria" })
            </div>

            <!-- FORMULARIO -->
            <form class="p-4 form-ferreteria">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id_producto)

                <div class="row g-3">

                    <div class="col-md-6">
                        @Html.LabelFor(model => model.codigo)
                        @Html.EditorFor(model => model.codigo, new { htmlAttributes = new { @class = "form-control form-ferreteria" } })
                        @Html.ValidationMessageFor(model => model.codigo, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(model => model.nombre)
                        @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control form-ferreteria" } })
                        @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(model => model.descripcion)
                        @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control form-ferreteria" } })
                        @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(model => model.precio_base)
                        @Html.EditorFor(model => model.precio_base, new { htmlAttributes = new { @class = "form-control form-ferreteria" } })
                        @Html.ValidationMessageFor(model => model.precio_base, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(model => model.iva_porcentaje)
                        @Html.EditorFor(model => model.iva_porcentaje, new { htmlAttributes = new { @class = "form-control form-ferreteria" } })
                        @Html.ValidationMessageFor(model => model.iva_porcentaje, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(model => model.categoria)
                        @Html.EditorFor(model => model.categoria, new { htmlAttributes = new { @class = "form-control form-ferreteria" } })
                        @Html.ValidationMessageFor(model => model.categoria, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(model => model.stock)
                        @Html.EditorFor(model => model.stock, new { htmlAttributes = new { @class = "form-control form-ferreteria" } })
                        @Html.ValidationMessageFor(model => model.stock, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(model => model.estado)
                        @Html.EditorFor(model => model.estado, new { htmlAttributes = new { @class = "form-control form-ferreteria" } })
                        @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(model => model.fecha_creacion)
                        @Html.EditorFor(model => model.fecha_creacion, new { htmlAttributes = new { @class = "form-control form-ferreteria" } })
                        @Html.ValidationMessageFor(model => model.fecha_creacion, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div class="text-end mt-4">
                    <input type="submit" value="Guardar cambios" class="btn btn-ferreteria" />
                </div>

            </form>

        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
