@model IEnumerable<ferre2.Models.facturas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.numero_factura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_emision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_vencimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subtotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_impuestos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_descuentos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.metodo_pago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.notas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_creacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_modificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clientes.nombre_razon_social)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.numero_factura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_emision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_vencimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subtotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_impuestos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_descuentos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.metodo_pago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.notas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_creacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_modificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.clientes.nombre_razon_social)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_factura }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_factura }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_factura })
        </td>
    </tr>
}

</table>
