@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="main-container">

        <!-- CARD -->
        <div class="table-card">

            <!-- HEADER ESTILO FERRETERÍA -->
            <div class="section-header">
                <div class="header-title">
                    <h2>Detalles Factura</h2>
                </div>
                @Html.ActionLink("← Volver", "Index", null, new { @class = "btn btn-outline-ferreteria" })
            </div>

            <!-- FORMULARIO -->
            <form class="p-4 form-ferreteria">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id_detalle)

                <div class="row g-3">

                    <div class="col-md-6">
                        @Html.LabelFor(model => model.id_factura)
                        @Html.DropDownList("id_factura", null, htmlAttributes: new { @class = "form-control form-ferreteria" })
                        @Html.ValidationMessageFor(model => model.id_factura, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(model => model.id_producto)
                        @Html.DropDownList("id_producto", null, htmlAttributes: new { @class = "form-control form-ferreteria" })
                        @Html.ValidationMessageFor(model => model.id_producto, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(model => model.descripcion)
                        @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control form-ferreteria" } })
                        @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(model => model.cantidad)
                        @Html.EditorFor(model => model.cantidad, new { htmlAttributes = new { @class = "form-control form-ferreteria" } })
                        @Html.ValidationMessageFor(model => model.cantidad, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(model => model.precio_unitario)
                        @Html.EditorFor(model => model.precio_unitario, new { htmlAttributes = new { @class = "form-control form-ferreteria" } })
                        @Html.ValidationMessageFor(model => model.precio_unitario, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(model => model.descuento_porcentaje)
                        @Html.EditorFor(model => model.descuento_porcentaje, new { htmlAttributes = new { @class = "form-control form-ferreteria" } })
                        @Html.ValidationMessageFor(model => model.descuento_porcentaje, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(model => model.descuento_valor)
                        @Html.EditorFor(model => model.descuento_valor, new { htmlAttributes = new { @class = "form-control form-ferreteria" } })
                        @Html.ValidationMessageFor(model => model.descuento_valor, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(model => model.iva_porcentaje)
                        @Html.EditorFor(model => model.iva_porcentaje, new { htmlAttributes = new { @class = "form-control form-ferreteria" } })
                        @Html.ValidationMessageFor(model => model.iva_porcentaje, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(model => model.iva_valor)
                        @Html.EditorFor(model => model.iva_valor, new { htmlAttributes = new { @class = "form-control form-ferreteria" } })
                        @Html.ValidationMessageFor(model => model.iva_valor, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(model => model.subtotal)
                        @Html.EditorFor(model => model.subtotal, new { htmlAttributes = new { @class = "form-control form-ferreteria" } })
                        @Html.ValidationMessageFor(model => model.subtotal, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(model => model.total_linea)
                        @Html.EditorFor(model => model.total_linea, new { htmlAttributes = new { @class = "form-control form-ferreteria" } })
                        @Html.ValidationMessageFor(model => model.total_linea, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div class="text-end mt-4">
                    <input type="submit" value="Guardar cambios" class="btn btn-ferreteria" />
                </div>

            </form>

        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
