@model IEnumerable<ferre2.Models.detalles_factura>

@{
    ViewBag.Title = "Index";
}
<div class="main-container">

    <div class="table-card">

        <div class="section-header">
            <div class="header-title">
                <h2>Clientes</h2>
            </div>
            <p class="btn btn-ferreteria">
                @Html.ActionLink("➕ Nuevo Detalle Factura", "Create")
            </p>
        </div>
        <div class="table-wrapper">
            <table class="table table-hover table-ferreteria">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.descripcion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.cantidad)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.precio_unitario)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.descuento_porcentaje)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.descuento_valor)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.iva_porcentaje)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.iva_valor)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.subtotal)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.total_linea)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.facturas.numero_factura)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.productos.codigo)
                        </th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cantidad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.precio_unitario)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.descuento_porcentaje)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.descuento_valor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.iva_porcentaje)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.iva_valor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.subtotal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.total_linea)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.facturas.numero_factura)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.productos.codigo)
                            </td>
                            <td class="text-nowrap">
                                @Html.ActionLink("✏️", "Editar", "Edit", new { id = item.id_detalle }, new { @class = "btn btn-sm btn-outline-ferreteria" }),
                                @Html.ActionLink("👁️", "Detalles", "Details", new { id = item.id_detalle }, new { @class = "btn btn-sm btn-outline-secondary" }),
                                @Html.ActionLink("🗑️", "Borrar", "Delete", new { id = item.id_detalle }, new { @class = "btn btn-sm btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>