@model IEnumerable<ferre2.Models.detalles_factura>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio_unitario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descuento_porcentaje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descuento_valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iva_porcentaje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iva_valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subtotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_linea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.facturas.numero_factura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productos.codigo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio_unitario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descuento_porcentaje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descuento_valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iva_porcentaje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iva_valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subtotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_linea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.facturas.numero_factura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productos.codigo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_detalle }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_detalle }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_detalle })
        </td>
    </tr>
}

</table>
